extends layout

block content
  h1= title
  p
    if page > 1
      a(href='../gallery?page=' + (page - 1)) Prev
    else
      raw Prev
    raw  | 
    each number in pages
      if number == '...'
        raw ...
      else if number == page
        b #{number}
      else
        a(href='../gallery?page=' + number) #{number}
      raw  | 
    if page < maxPage
      a(href='../gallery?page=' + (page + 1)) Next
    else
      raw Next
  #content
    .wrapper
      each entry in entries
        div
          a(href=gallery_path + entry.image_name)
            img(src=uploads_path + entry.image_name)
